<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="KKBP Homepage" />
    <meta property="og:description" content="KKBP Homepage" />
  </head>
  <body>
      <header><h1>KKBP Wiki</h1></header>

      <div id="banner">
        <span id="logo"></span>

        {% if site.show_downloads %}

          <div class="downloads">
            <span></span>
            <ul>
              <li><a href="https://github.com/FlailingFog/KK-Blender-Porter-Pack" class="button">View KKBP on GitHub</a></li>
            </ul>
          </div>
        {% endif %}
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="https://flailingfog.github.io"><strong>How to use</strong></a></li>
          <li><a href="wiki">Wiki home</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="exporter">Export panel</a></li>
          <li><a href="panel">Import panel</a></li>
          <li><a href="mesh">Mesh</a></li>
          <li><a href="armature">Armature</a></li>
          <li><a href="material">Material</a></li>
          <li><a href="misc">Misc</a></li>
          <li><a href="standard_manual_test_cases">Standard test cases</a></li>
        </ul>
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages<br>Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>
  </body>
</html>
